//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
package-lock=false
save-exact=true
registry=https://registry.npmjs.org/
always-auth=true
scope = "@jitsi"
@jitsi:registry = "https://registry.npmjs.org/" 